*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    background-color: #e9f7ef;
    color:  rgb(12, 9, 9);
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 30px;
    font-weight: bold;
    
}

.cabecalho {
    background-color: #f7ce06;
    box-shadow: 0 2 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 0;
    width: 100%; 
    border: 1px solid #d1c6c6;  
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #e9f7ef;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: #333;
    font-weight: bold;
}

section {
    padding: 40px 0;
}

.destaque {
    padding-top: 90px;
    background-color: #e9f7ef;
    display: flex;
}

.destaque .container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}

.texto h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.recursos .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {   
    padding: 20px;
    text-align: center;
    background-color: #e9f7ef;
    
}

.icone {
    font-size: 2rem;
    margin-bottom: 15px;
}

.cta {
    background-color: #f7ce06;
    color: #333;
    text-align: center;    
}

.cta .btn {
    background-color: #333;
    color: #f7ce06;
    border: 2px solid #e9f7ef;    
}

footer {
    background-color: #333;
    color: #f7ce06;
    padding: 10px 0;
    text-align: center;
}

.botao-menu {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.como-ajudar {
    background-color: #f7ce06;
    padding: 60px 0;
}

.container-ajuda-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.imagem-ajuda {
    flex: 1 1 45%;
}

.imagem-ajuda img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.texto-ajuda {
    flex: 1 1 45%;
    color: #333;
}

.texto-ajuda h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e9f7ef;
}

.texto-ajuda p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.btn-ajuda {
    background-color: #e9f7ef;
    color: #333;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
    display: inline-block;
}

.btn-ajuda:hover {
    background-color: #333;
    color: #f7ce06;
}


@media screen and(max-width: 768px) {
    .destaque .container {
        flex-direction: column;
        align-items: center;
    }

    .recursos .container {
        grid-template-columns: 1fr;
    }

    .cta {
        padding: 20px;
    }

    .botao-menu {
        display: block;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        max-height: 200;
        padding: 20px;
    }

    .menu.ativo {
        max-height: 200px;
        padding: 0;
    }
}
